html { 
    height: 100%;
    width: 100%;
    background: url(crepuscule.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family:"Lato", Helvetica,sans-serif;
    background-color:#0b354d;
    max-width:34em;
    margin-left:auto;
    margin-right:auto;
    padding:0 0.25em 0 0.25em;
}

div.film {
    border-radius: 1em 1em 0 0;
    border-bottom: 0.5em dotted #eaeaca;
    /*background-color:#a9c6cf;*/
    background: linear-gradient(45deg, #dae7eb 0%, #a9c6cf 100%);
    color:#09212e;
    padding:1.25em 2em 1em 2em;
    margin: 0 0 1em 0;
}

div.section {
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:dotted #eaeaca 0.1em;
    margin-left:0.5em;
}

div.section div.heading {
    /*text-decoration:underline;*/
    font-weight:bold;
    color:#09212e;
}

div.title {
    border-radius: 0.5em;
    /*background-color:#22323b;*/
    background: linear-gradient(45deg, #677b87 0%, #22323b 100%);
    color:#eaeaca;
    /*border: solid 0.2em #B3A580;*/
    border:0;
    padding:14px;
    margin-bottom:0.5em;
    margin-left:-0.5em;
}

div.original_title {
    font-size:1.5em;
    font-weight:normal;
    color:#eaeaca;
}

div.original_title a {
    color:#eaeaca;
}

a, a:visited {
    color:#511;
}

div.date_entered {
    text-indent:1em;
    font-size:0.8em;
    margin:0.25em;
    font-style:normal;
}

div.other_title {
    text-indent:0.5em;
    margin:0.25em;
}

ul {
  margin-top:0.5em;
}

li {
    display:list-item;
    list-style:circle;
}
